<!DOCTYPE>
<html>
	{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}"/>

	<head>
		<div id="navbar">
			<div id="titleBar">
				<p id="title">Impossible Classics</p>
			</div>
		</div>
	</head>

	<body>
	<div>
		<h1 id="greeting">THE CLASSIC GAMES YOU KNOW, ON A DIFFICULTY YOU CANT EVEN FATHOM</h1>
	</div>
	<div id="gameDisplay">
		<table class="center">
		<tr>
		<td>
			<a href="/pong"><span>PONG</span></a>
		</td>
		<td>
			<a href="/breakout"><span>BREAKOUT</span></a>
		</td>
		<td>
			<a href="/snake"><span>SNAKE</span></a>
		</td>
		</tr>
		<tr>
		<td></td>
		<td></td>
		<td></td>
		</tr>
		<tr>
		<td></td>
		<td></td>
		<td></td>
		</tr>
		</table>
	</div>



	</body>


</html>